.header-wrapper {
  background: url("../images/headerbg-image.png") right top / cover no-repeat
    #010216;
}
.header-wrapper.index-page {
  padding: 0;
}
.header-wrapper.dashboard-page {
  padding: 0 0 1rem;
}
.navigation-container {
  padding: 0rem 0rem;
  position: relative;
}

/*********************
Toggle menu
**********************/
.bar-btn {
  position: absolute;
  top: 10px;
  right: 20px;
  color: #fff;
  border: 1px solid #ddd;
  display: inline-block;
  padding: 0.2rem 0.6rem;
  line-height: 1.5;
  cursor: pointer;
  font-size: 1.4rem;
  border-radius: 6px;
  background: #010216;
  z-index: 1001;
}
.bar-btn:hover {
  color: #fff;
}
nav {
  position: relative;
}
nav .logged__in {
  position: absolute;
  right: 4%;
  top: 35%;
  color: white;
  cursor: pointer;
}
.logged__out{
    background-color: black;
    padding: 1rem;
    min-width: 12rem;
    margin: 0 0.3rem;
    border-radius: 10px;
    position: absolute;
    right: 0%;
    z-index: 20;
    display: none;
    visibility: hidden;
}
.logged__out li:hover{
    transform: scale(1.1);
    padding: 0.3rem;

    background-color: white;
    color: black;
    border-radius: 10px;
}
.logged__out.no_display{
    display: block;
    visibility: visible;
}
.nav-menu {
  padding: 1rem;
  overflow: hidden;
  height: 0;
  background: rgba(1, 2, 22, 0.7);
  transition: transform 0.5s ease-out;
  transform: translateX(-150%);
}

.open {
  height: 100vh;
  transform: translateX(0);
}

.close {
  color: #fff;
  border: none;
  font-size: 16px;
  background: transparent;
}

.nav-menu a {
  display: block;
  padding: 0.6rem;
  text-indent: 1rem;
  font-weight: 300;
  font-size: 1rem;
}
.nav-menu a[href^="./signin"] {
  border-radius: 8px;
  transition: 0.5s ease-in;
  border: 1px solid rgba(255, 255, 255, 0.5);
  width: 100px;
}
.nav-menu a[href^="./signin"]:hover {
  background: #010216;
  border: 1px solid #fff;
}

/*********************
Tablet Device
**********************/
@media (min-width: 380px) {
  /*.navigation-container{
padding:2rem 0rem;
}*/
}

/*********************
Desktop dveice
**********************/
@media (min-width: 650px) {
  .main-nav .nav-menu {
    gap: 2%;
  }
  .main-nav li:nth-child(4) {
    margin-right: 4%;
  }
  .main-nav a {
    padding: 0.6rem;
    border-radius: 8px;
    transition: 0.5s ease-in;
    border: 1px solid rgba(255, 255, 255, 0.1);
  }
  .main-nav a:hover {
    background: #010216;
    border: 1px solid #fff;
  }
  /*.main-nav li:nth-child(4) + li a{
border-right:1px solid #fff;
}*/
}

/*************************

Larger Device
**************************/
@media (min-width: 810px) {
  /*.navigation-container{
padding:4rem 0rem;
}*/
  .header-wrapper {
    background: url("../images/headerbg-image.png") 0px 80px / cover no-repeat
      #010930;
  }

  /*******************
Toggle menu || Turn-off
canvas styles
********************/
  .bar-btn {
    display: none;
  }
  .nav-menu {
    overflow: visible;
    height: auto;
    transition: initial;
    transform: translateX(0);
    background: transparent;
  }
  .nav-menu a {
    text-indent: 0rem;
  }
  .nav-menu a[href^="./signin"] {
    border-radius: auto;
    transition: auto;
    border: auto;
    width: auto;
  }
}
@media (max-width:812px) {
    nav .logged__in{
        position: absolute;
        left: 2%;
        top: 35%;
        color: white;
        cursor: pointer;
    }
    .logged__out{
        left: 0%;
        width: 50%;
    }
}
.opendiv{
  visibility: hidden!important;
}