@import url("boiler-plate.css");

@import url("signup.css");
@import url("signin.css");
@import url("footer.css");
@import url("header.css");

/******************
index page styles
******************/
.search-menu {
  padding: 1rem;
  /*margin-top:4rem;
*/
}
.search-input-container {
  position: relative;
  border: 1px solid #ddd;
  margin: 0 auto;
  border-radius: 10px;
  margin-top: 4rem;
}
.search-input {
  width: 85%;
  border: none;
  outline: none;
  color: #fff;
  font-weight: 300;
  background: linear-gradient(
    90.2deg,
    rgba(255, 255, 255, 0.1596) 26.4%,
    rgba(253, 177, 255, 0.3002) 88.89%
  );
  backdrop-filter: blur(61px);
  -webkit-backdrop-filter: blur(61px);
  -moz-backdrop-filter: blur(61px);
  padding: 0.8rem;
  text-indent: 1rem;
  border-radius: 11px 0px 0px 11px;
}
.search-input:hover,
.search-input:focus-within {
  background: #010216;
}
.search-input::-webkit-search-cancel-button {
  -webkit-appearance: none;
  height: 15px;
  width: 15px;
  cursor: pointer;
  display: inline-block;
  background: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="10" height="10" fill="rgb(255,255,255)"><!--! Font Awesome Pro 6.1.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path d="M0 256C0 114.6 114.6 0 256 0C397.4 0 512 114.6 512 256C512 397.4 397.4 512 256 512C114.6 512 0 397.4 0 256zM175 208.1L222.1 255.1L175 303C165.7 312.4 165.7 327.6 175 336.1C184.4 346.3 199.6 346.3 208.1 336.1L255.1 289.9L303 336.1C312.4 346.3 327.6 346.3 336.1 336.1C346.3 327.6 346.3 312.4 336.1 303L289.9 255.1L336.1 208.1C346.3 199.6 346.3 184.4 336.1 175C327.6 165.7 312.4 165.7 303 175L255.1 222.1L208.1 175C199.6 165.7 184.4 165.7 175 175C165.7 184.4 165.7 199.6 175 208.1V208.1z"/></svg>')
    top center / cover no-repeat;
}
.search-input-container::after {
  font-family: "FontAwesome";
  content: "\f002";
  position: absolute;
  width: 15%;
  background: linear-gradient(
    181.14deg,
    #da00de 0.97%,
    rgba(218, 0, 222, 0) 116.15%
  );
  color: #fff;
  border-radius: 2px 10px 10px 2px;
  top: 0;
  right: 0;
  padding: 0.8rem 1rem;
  display: inline-block;
  text-align: center;
  cursor: pointer;
}
.header-caption {
  margin: 2rem 0;
  text-align: center;
  color: #fff;
  font-size: var(--xl-font);
  font-weight: 300;
  line-height: 1.5;
  text-transform: capitalize;
}
.cta-buttons {
  padding: 1rem;
}
.cta-buttons .cta-btn {
  background: linear-gradient(
    94.58deg,
    rgba(254, 211, 255, 0.138) 1.24%,
    rgba(254, 211, 255, 0.3) 1.25%,
    rgba(245, 90, 249, 0.084) 98.94%
  );
  backdrop-filter: blur(60px);
  text-transform: capitalize;
  border-radius: 13px;
  border: 1px solid #fed1ff;
  transition: background 0.5s;
}
.cta-buttons .cta-btn:hover {
  background: #010216;
}

/*************************
  quick nav-links section
**************************/
.quick-nav-links {
  text-align: center;
}
.quick-nav-links .nav-container ul li {
  margin-bottom: 1rem;
}
.quick-nav-links a {
  color: #99509a;
  font-size: var(--md-font);
  font-weight: 500;
  display: block;
  padding: 0.7rem;
  -webkit-padding: 0.7rem;
  background: linear-gradient(
    94.58deg,
    rgba(254, 211, 255, 0.469) 1.24%,
    rgba(254, 211, 255, 0.7) 1.25%,
    rgba(245, 90, 249, 0.196) 98.94%
  );
  /*backdrop-filter: blur(60px);*/
  /* Note: backdrop-filter has minimal browser support */
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  border-radius: 7px;
  transition: all 0.5s;
  -webkit-border: 1px solid transparent;
  border: 1px solid transparent;
}
.quick-nav-links a:hover {
  -webkit-border: 1px solid #99509a;
  -moz-border: 1px solid #99509a;
  border: 1px solid #99509a;
  background: #ffffff;
}

/*************************
  Create section
**************************/
.create-section .create-header {
  justify-content: flex-start;
  align-items: center;
  gap: 1%;
  margin: 1rem 0;
}
/*.create-section .create-header > *{
flex:50%;
}*/
.create-section .create-header .line {
  display: block;
  border-bottom: 9px solid #fed3ff;
  flex-basis: 70%;
}
.create-section .create-body {
  justify-content: space-around;
}
.section-wrapper {
  background-image: url(../images/bg-image.png);
}
.create-section .create-body .box {
  height: 150px;
  background: rgba(209, 0, 214, 0.61);
  -moz-box-shadow: 0px 4px 29px #eeceef;
  -webkit-box-shadow: 0px 4px 29px #eeceef;
  box-shadow: 0px 4px 29px #eeceef;
  flex-basis: 22%;
  margin-bottom: 1rem;
}
.create-section .create-footer {
  text-align: initial;
  margin: 2rem 0;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.31), rgba(0, 0, 0, 0.31)),
    url(../images/createfooter.png);

  border-radius: 11px;
  -moz-box-shadow: 0px 4px 29px #eeceef;
  -webkit-box-shadow: 0px 4px 29px #eeceef;
  box-shadow: 0px 4px 29px #eeceef;
  padding: 1rem;
  height: 150px;
}

/*************************
  gallery wrapper
**************************/
.gallery-wrapper {
  padding: 2rem;
}
.gallery-wrapper .gallery {
  height: 200px;
  background: #99509a;
  margin-bottom: 1rem;
}
/* ******************
gallery container image
********************* */
.img-container {
  height: 100%;
}
.img-container img {
  height: 100%;
}

/* ************************
dashboard-container
************************ */
.section-wrapper__grid {
  display: grid;
  grid-template-columns: 15rem auto;
  height: 100vh;
  border: 1px solid white;
  gap: 2%;

  padding: 1rem 0;
  border-radius: 11px;
  margin: 2rem;
  background: url(../images/createfooter.png);
}
.section-wrapper__grid1 ul {
  padding: 1rem;
  border-right: 2px solid #fff;
  height: 70%;
}
.section-wrapper__grid1 ul li {
  padding: 0.7rem;
  border-bottom: 2px solid white;
  color: white;
  cursor: pointer;
}
.section-wrapper__grid1 ul li:hover {
  transition: all 1s ease linear;
  background-color: #fff;
  color: black;
}
.dp__container {
  display: grid;
  grid-template-columns: 192px 192px 192px;
  gap: 2%;
  margin: 1rem 0.5rem;
}
.dp__container-box {
  border: 1px solid white;
  border-radius: 4px;
  height: 94px;
  background: linear-gradient(
    94.58deg,
    rgba(254, 217, 255, 0.23) 1.24%,
    rgba(254, 211, 255, 0.5) 1.25%,
    rgba(250, 199, 251, 0.5) 98.94%
  );
  backdrop-filter: blur(30px);
  /* Note: backdrop-filter has minimal browser support */

  border-radius: 4px;
}
.dp__container-mainbox {
  position: relative;
  margin: 1rem 0;
  width: 614px;
  height: 398px;
  background: linear-gradient(
    278.24deg,
    rgba(254, 211, 255, 0.3) 0.82%,
    rgba(247, 197, 248, 0.138) 98.49%,
    rgba(250, 199, 251, 0.3) 100%
  );
  backdrop-filter: blur(30px);
  /* Note: backdrop-filter has minimal browser support */

  border-radius: 4px;
}

.section__grid-flex1 .create__dp-box {
  width: 218px;
  height: 167px;
  background: linear-gradient(
    94.58deg,
    rgba(247, 197, 248, 0.138) 1.24%,
    rgba(254, 211, 255, 0.3) 1.25%,
    rgba(250, 199, 251, 0.3) 98.94%
  );
  backdrop-filter: blur(30px);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 4px;
  margin: 0.7rem 0;
}
.section-wrapper__grid2 {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.section-wrapper__grid2 .section__grid-flex1:first-child {
  flex-basis: 70% !important;
  /* background-color: red; */
}
.section-wrapper__grid2 .section__grid-flex1:last-child {
  flex-basis: 29%;
  /* background-color: gold; */
}
.button__create {
  padding: 0.7rem 1.5rem;
  border-radius: 10px;
  border: none;
  outline: none;
  cursor: pointer;
  position: absolute;
  right: 5%;
  top: 2%;
  display: none;
}
.mainaside {
  display: none;
  visibility: hidden;
}
 .chevy1{
  transform: rotate(90deg);
  transition: all 1s ease;
}
.aside1 {
  padding:0.4rem 1rem;
  display: block;
  visibility: visible;
  -webkit-animation: scale-in-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: scale-in-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
@-webkit-keyframes scale-in-top {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-transform-origin: 50% 0%;
            transform-origin: 50% 0%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: 50% 0%;
            transform-origin: 50% 0%;
    opacity: 1;
  }
}
@keyframes scale-in-top {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-transform-origin: 50% 0%;
            transform-origin: 50% 0%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: 50% 0%;
            transform-origin: 50% 0%;
    opacity: 1;
  }
}


/*************************
 Tablet Device
**************************/
@media (min-width: 380px) {
  .quick-nav-links .nav-container ul {
    display: flex;
    flex-flow: row wrap;
    gap: 4%;
  }
  .quick-nav-links .nav-container ul > * {
    flex: 1 1 48%;
  }
  .gallery-wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 4%;
  }
  .gallery-wrapper > * {
    flex: 1 1 48%;
  }
}

/*************************
 Desktop device
**************************/
@media (min-width: 650px) {
  .search-input-container {
    width: 40%;
  }
  .quick-nav-links .nav-container ul {
    gap: 0%;
  }
  .quick-nav-links .nav-container ul > * {
    flex: 22%;
  }

  .quick-nav-links .nav-container ul li {
    padding: 0 1rem;
  }
  .quick-nav-links .nav-container ul li + li {
    border-left: 3px solid #afafaf;
    -webkit-border: 3px solid #afafaf;
    -moz-border: 3px solid #afafaf;
  }
  .gallery-wrapper > * {
    flex: 0 0 22%;
  }
}
@media (max-width: 1050px) {
  .section-wrapper__grid1 {
    display: none;
  }
  .section-wrapper__grid {
    grid-template-columns: 1fr;
  }
  .dp__container-mainbox {
    width: 100%;
    margin: 1rem auto;
  }
  .dp__container {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .dp__container-box {
    flex-basis: 70%;
    /* width: 100px; */
  }
  .create__dp-box {
    width: 80% !important;
    margin: 1rem auto !important;
  }
}

@media (max-width: 550px) {
  .section-wrapper__grid2 .section__grid-flex1:first-child {
    flex: 1;
    padding: 1rem;
    /* background-color: red; */
  }
  .section-wrapper__grid2 {
    display: block;
  }
  .section-wrapper__grid2 .section__grid-flex1:last-child {
    display: none;
    /* background-color: gold; */
  }
  .mainbox {
    display: grid !important;
    position: absolute;
    background: darkgrey;
    grid-template-columns: 1fr 1fr;
    width: 80%;
    position: fixed;
    width: 80%;
    top: 10%;
    z-index: 60;
    border-radius: 10px;
    -webkit-animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1)
      both;
    animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
    /* transform: translate(-50% -50%); */
  }
  .backdrop {
    background: rgba(0, 0, 0, 0.8);
    z-index: 50;
    position: fixed;
    height: 100vh;
    width: 100%;
    display: none;
    visibility: hidden;
    top: 0;
    -webkit-animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1)
      both;
    animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  }
  .backdropFilter {
    display: block;
    visibility: visible;
  }

  @-webkit-keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0.5);
      transform: scale(0.5);
    }
    100% {
      -webkit-transform: scale(1);
      transform: scale(1);
    }
  }
  @keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0.5);
      transform: scale(0.5);
    }
    100% {
      -webkit-transform: scale(1);
      transform: scale(1);
    }
  }
  .button__create {
    display: block;
  }
  .create__dp-box {
    width: auto;
  }
}
